.App {
  text-align: center;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: 'Google Sans', sans-serif, system-ui;
  transform-style: preserve-3d;
  perspective: 100vmin;
  background: #040f1b;
  /* background: #0a0b0a; */
}

/* //x-scroll hidden y-scrll: hidden */
/* //overflow: hidden; */
/* //background-color: black; */
/* //display: flex; */

