@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.App {
  text-align: center;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: 'Google Sans', sans-serif, system-ui;
  transform-style: preserve-3d;
  perspective: 100vmin;
  background: #040f1b;
  /* background: #0a0b0a; */
}

/* hide scroll bar */

body::-webkit-scrollbar {
    display: none !important;
}

